<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h1>Toko Laptop</h1>
                <span>Toko Online Laptop Terbaik Di Indonesia</span>
            </div>
        </div>
    </div>
</section>

<div class="container my-5 mx-auto">
    <h2>Produk</h2>
    <div class="row">
        <div class="col-lg-2">
            <div class="card" style="width: 13rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="width: 13rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="width: 13rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="width: 13rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="width: 13rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5 ">
    <h2>New Products</h2>
    <div class="row">


        <div class="col-lg-2">
            <div class="card" style="width: 13rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="width: 13rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="width: 13rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
